body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

.mainFrame {
    background-color: #03d3fc;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.mainFrameHeader {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Helvetica;
}

.mainFrameContentInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainFrameContentTasks {
    margin: auto;
}

#inputTask {
    padding: 15px;
    border-radius: 20px;
    margin: 15px;
    font-size: 20px;
    min-width: 100px;
    border-style: solid;
}

#addTaskButton {
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    margin: 15px;
    width: 50px;
    border-style: solid;
}

#addTaskButton:hover {
    cursor: pointer;
    background-color: #00b7db;
}

#mainFrameContentTasks {
    min-height: 120px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Helvetica;
    overflow: hidden;
}

.task {
    margin: 10px;
    background-color: #00b7db;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: inset 0 0 5px black;
}

.taskText {
    float: left;
    text-align: left;
    overflow-wrap: anywhere;
    border-radius: 20px;
    padding: 10px;
}

.taskButton {
    color: white;
    float: left;
    background-color: black;
    padding: 13px;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    border: none;
    transition: background-color .2s, color .2s, border .2s;
}

.taskButton:hover {
    cursor: pointer;
    color: black;
    background-color: red;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}